@font-face {
  font-family: "Noto Serif KR";
  font-weight: 400;
  src: url("./NotoSerifCJKkr-Regular.otf") format("otf");
}

@font-face {
  font-family: "Noto Serif KR";
  font-weight: 700;
  src: url("./NotoSansCJKkr-Bold.otf") format("otf");
}

@font-face {
  font-family: "Noto Sans KR";
  font-weight: 400;
  src: url("./NotoSansCJKkr-Regular.otf") format("otf");
}

@font-face {
  font-family: "Noto Sans KR";
  font-weight: 500;
  src: url("./NotoSansCJKkr-Medium.otf") format("otf");
}

@font-face {
  font-family: "Noto Sans KR";
  font-weight: 700;
  src: url("./NotoSansCJKkr-Bold.otf") format("otf");
}

@font-face {
  font-family: "Nanum Myeongjo";
  font-weight: 400;
  src: url("./NanumMyeongjo.otf") format("otf");
}

@font-face {
  font-family: "Nanum Myeongjo";
  font-weight: 700;
  src: url("./NanumMyeongjoBold.otf") format("otf");
}

/* window 용이라는데 사실 잘 모르겠.. */
@font-face {
  font-family: "Nanum Myeongjo";
  font-weight: 701;
  src: url("./NanumMyeongjoBoldwindow.otf") format("otf");
}

@font-face {
  font-family: "Nanum Myeongjo";
  font-weight: 900;
  src: url("./NanumMyeongjoExtraBold.otf") format("otf");
}
